In [10]:
import pandas as pd
import numpy as np
import matplotlib as mpl
mpl.use('Agg')
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
tickers = ["TSLA", "AAPL", "MSFT", "TSM"]
company_names = ["TESLA", "AAPLE", "MICROSOFT", "TAIWAN SEMICONDUCTOR"]
ticker_zip = zip(tickers, company_names)
ticker_data = yf.download(tickers, start="2023-01-30", end="2023-02-05", group_by="ticker")

[*********************100%***********************]  4 of 4 completed

In [3]:
dfs = []
for ticker, name in ticker_zip:
    df = ticker_data[ticker].copy()
    df['Name'] = name
    df['Ticker'] = ticker
    dfs.append(df)

ticker_data = pd.concat(dfs)

In [4]:
ticker_data

,Open,High,Low,Close,Adj Close,Volume,Name,Ticker
Date,,,,,,,,
2023-01-30 00:00:00-05:00,178.050003,179.770004,166.500000,166.660004,166.660004,230878800,TESLA,TSLA
2023-01-31 00:00:00-05:00,164.570007,174.300003,162.779999,173.220001,173.220001,196813500,TESLA,TSLA
2023-02-01 00:00:00-05:00,173.889999,183.809998,169.929993,181.410004,181.410004,213806300,TESLA,TSLA
2023-02-02 00:00:00-05:00,187.330002,196.750000,182.610001,188.270004,188.270004,217448300,TESLA,TSLA
2023-02-03 00:00:00-05:00,183.949997,199.000000,183.690002,189.979996,189.979996,231684200,TESLA,TSLA
2023-01-30 00:00:00-05:00,144.960007,145.550003,142.850006,143.000000,143.000000,64015300,AAPLE,AAPL
2023-01-31 00:00:00-05:00,142.699997,144.339996,142.279999,144.289993,144.289993,65874500,AAPLE,AAPL
2023-02-01 00:00:00-05:00,143.970001,146.610001,141.320007,145.429993,145.429993,77663600,AAPLE,AAPL
2023-02-02 00:00:00-05:00,148.899994,151.179993,148.169998,150.820007,150.820007,118339000,AAPLE,AAPL
2023-02-03 00:00:00-05:00,148.029999,157.380005,147.830002,154.500000,154.500000,154279900,AAPLE,AAPL
2023-01-30 00:00:00-05:00,244.509995,245.600006,242.199997,242.710007,242.710007,25867400,MICROSOFT,MSFT
2023-01-31 00:00:00-05:00,243.449997,247.949997,242.949997,247.809998,247.809998,26541100,MICROSOFT,MSFT
2023-02-01 00:00:00-05:00,248.000000,255.179993,245.470001,252.750000,252.750000,31259900,MICROSOFT,MSFT
2023-02-02 00:00:00-05:00,258.820007,264.690002,257.250000,264.600006,264.600006,39940400,MICROSOFT,MSFT
2023-02-03 00:00:00-05:00,259.540009,264.200012,257.100006,258.350006,258.350006,29062300,MICROSOFT,MSFT
2023-01-30 00:00:00-05:00,92.849998,94.250000,92.580002,93.129997,93.129997,14079800,TAIWAN SEMICONDUCTOR,TSM
2023-01-31 00:00:00-05:00,91.000000,92.760002,90.000000,92.730003,92.730003,13342100,TAIWAN SEMICONDUCTOR,TSM
2023-02-01 00:00:00-05:00,93.000000,95.769997,92.570000,94.739998,94.739998,16788500,TAIWAN SEMICONDUCTOR,TSM
2023-02-02 00:00:00-05:00,96.599998,97.500000,95.839996,96.650002,96.650002,14925300,TAIWAN SEMICONDUCTOR,TSM
2023-02-03 00:00:00-05:00,95.040001,96.949997,94.309998,94.660004,94.660004,12232500,TAIWAN SEMICONDUCTOR,TSM

In [13]:

plt.figure(figsize=(15, 10))
plt.subplots_adjust(top=1.25, bottom=1.2)
for ticker, name in enumerate(ticker_zip, 1):
    plt.subplot(2, 2, i)
    ticker_data[(ticker_data.Ticker == ticker)]['Adj Close'].plot()
    plt.ylabel('Adj Close')
    plt.xlabel(None)
    plt.title(f"Closing Price of {name}")
plt.tight_layout()
fig = plt.figure()
fig.savefig("sample")